node-red-blackbox-service/flows-3.json
[{"id":"60485ebb.1a669","type":"Kafka Consumer","z":"a92d66c3.f9361","name":"","broker":"26e1034a.24a75c","topics":[{"topic":"vehicle_details","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","x":820,"y":380,"wires":[["69601b78.05e554"]]},{"id":"41a5b75d.56fb48","type":"Kafka Producer","z":"a92d66c3.f9361","name":"vehicle_details","broker":"26e1034a.24a75c","topic":"vehicle_details","requireAcks":1,"ackTimeoutMs":100,"partitionerType":0,"key":"","partition":0,"attributes":0,"connectionType":"Producer","x":540,"y":320,"wires":[]},{"id":"69601b78.05e554","type":"debug","z":"a92d66c3.f9361","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":380,"wires":[]},{"id":"729e2ef3.d23f5","type":"inject","z":"a92d66c3.f9361","name":"","topic":"","payload":"{\"id\":3,\"make\":\"Audi\",\"variant\":\"A4\",\"model\":\"2019\",\"cost\":15000}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":320,"wires":[["4e23fa5a.210ec4"]]},{"id":"b32114bc.59eb58","type":"Kafka Producer","z":"a92d66c3.f9361","name":"vehicle_users","broker":"26e1034a.24a75c","topic":"vehicle_users","requireAcks":1,"ackTimeoutMs":100,"partitionerType":0,"key":"","partition":0,"attributes":0,"connectionType":"Producer","x":540,"y":420,"wires":[]},{"id":"687d873d.cb2248","type":"inject","z":"a92d66c3.f9361","name":"","topic":"","payload":"{\"User_Id\":1,\"Name\":\"Vinoth\",\"Age\":\"29\",\"Profession\":\"Student\",\"City\":\"Magdeburg\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["2fde25e1.93f9ea"]]},{"id":"ea81c648.f3d2f8","type":"Kafka Producer","z":"a92d66c3.f9361","name":"vehicle_location","broker":"26e1034a.24a75c","topic":"vehicle_location","requireAcks":1,"ackTimeoutMs":100,"partitionerType":0,"key":"","partition":0,"attributes":0,"connectionType":"Producer","x":540,"y":520,"wires":[]},{"id":"14f05ff2.841cb8","type":"inject","z":"a92d66c3.f9361","name":"","topic":"","payload":"{\"vid\":1,\"name\":\"Coogee Beach\",\"lat\":-33.923036,\"lon\":151.259052}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":520,"wires":[["35a306c0.c1f97a"]]},{"id":"1db11fae.89d76","type":"inject","z":"a92d66c3.f9361","name":"","topic":"","payload":"{\"vid\":1,\"name\":\"Bondi Beach\",\"lat\":-33.890542,\"lon\":151.274856}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":580,"wires":[["35a306c0.c1f97a"]]},{"id":"7abae817.a822b8","type":"inject","z":"a92d66c3.f9361","name":"","topic":"","payload":"{\"vid\":1,\"name\":\"Cronulla Beach\",\"lat\":-34.028249,\"lon\":151.157507}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":640,"wires":[["35a306c0.c1f97a"]]},{"id":"486d0e2f.11de6","type":"inject","z":"a92d66c3.f9361","name":"","topic":"","payload":"{\"vid\":1,\"name\":\"Manly Beach\",\"lat\":-33.80010128657071,\"lon\":151.28747820854187}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":700,"wires":[["35a306c0.c1f97a"]]},{"id":"5dd763e8.d5ea5c","type":"inject","z":"a92d66c3.f9361","name":"","topic":"","payload":"{\"vid\":1,\"name\":\"Maroubra Beach\",\"lat\":-33.950198,\"lon\":151.259302}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":760,"wires":[["35a306c0.c1f97a"]]},{"id":"4e23fa5a.210ec4","type":"json","z":"a92d66c3.f9361","name":"","property":"payload","action":"","pretty":false,"x":330,"y":320,"wires":[["41a5b75d.56fb48"]]},{"id":"2fde25e1.93f9ea","type":"json","z":"a92d66c3.f9361","name":"","property":"payload","action":"","pretty":false,"x":330,"y":420,"wires":[["b32114bc.59eb58"]]},{"id":"35a306c0.c1f97a","type":"json","z":"a92d66c3.f9361","name":"","property":"payload","action":"","pretty":false,"x":330,"y":520,"wires":[["ea81c648.f3d2f8"]]},{"id":"f5dafab1.9d0688","type":"Kafka Consumer","z":"a92d66c3.f9361","name":"","broker":"26e1034a.24a75c","topics":[{"topic":"vehicle_location","offset":0,"partition":0}],"groupId":"kafka-node-group","autoCommit":"true","autoCommitIntervalMs":5000,"fetchMaxWaitMs":100,"fetchMinBytes":1,"fetchMaxBytes":1048576,"fromOffset":0,"encoding":"utf8","keyEncoding":"utf8","connectionType":"Consumer","x":820,"y":520,"wires":[["1992a4e0.9c5413"]]},{"id":"1992a4e0.9c5413","type":"debug","z":"a92d66c3.f9361","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":520,"wires":[]},{"id":"7cf2c99d.292b4","type":"inject","z":"a92d66c3.f9361","name":"","topic":"","payload":"{\"id\":2,\"make\":\"BMW\",\"variant\":\"320\",\"model\":\"2019\",\"cost\":15000}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":260,"wires":[["4e23fa5a.210ec4"]]},{"id":"41f5a7ee.b04d08","type":"inject","z":"a92d66c3.f9361","name":"","topic":"","payload":"{\"id\":1,\"make\":\"Mercedes-Benz\",\"variant\":\"CLA-180\",\"model\":\"2019\",\"cost\":15000}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["4e23fa5a.210ec4"]]},{"id":"155a9b5e.09e0cd","type":"inject","z":"a92d66c3.f9361","name":"","topic":"","payload":"{\"id\":5,\"make\":\"Volkswagen\",\"variant\":\"Arteon\",\"model\":\"2019\",\"cost\":15000}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["4e23fa5a.210ec4"]]},{"id":"653b4f11.9f80a8","type":"inject","z":"a92d66c3.f9361","name":"","topic":"","payload":"{\"id\":4,\"make\":\"Ford\",\"variant\":\"Mustang\",\"model\":\"2019\",\"cost\":15000}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["4e23fa5a.210ec4"]]},{"id":"26e1034a.24a75c","type":"Kafka Broker","z":"","name":"kafka","hosts":[{"host":"10.0.0.116","port":9092}],"connectTimeout":"10000","requestTimeout":"30000","autoConnect":"true","idleConnection":"5","reconnectOnIdle":"true","maxAsyncRequests":"10","checkInterval":"10","usetls":false}]